<h1>Olá, {{usuario.nome}}!</h1>
<h2> Seja bem-vindo ao espaço do nosso site que é todinho dedicado a você.</h2>

<!-- <mat-expansion-panel hideToggle class="div-dados-pessoais">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <h3> Dados pessoais</h3>
        </mat-panel-title>
         <mat-panel-description>
            Nesta seção aqui você poderá consultar seus dados cadastrais e também fazer alguma atualização quando necessário.          
        </mat-panel-description>
    </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
</mat-expansion-panel> -->


<div clas="div-dados-compras">

</div>
