#header-container {
  background-color: transparent;
  color: antiquewhite;
  padding: 50px 100px;
  z-index: 0;
}

.example-spacer {
  flex: 1 1 auto;
}

#header-titulo {
  font-size: 2.5em;
  font-family: 'Fredoka', sans-serif;
  font-weight: 700;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.mat-mdc-icon-button {
  width: 60px;
  height: 60px;
}

.mat-icon {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}