#container {
    border-radius: 40px;
    padding: 20px;
    width: 30%;
    height: 40%;
    margin: 8% auto auto 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5rem;

    color: antiquewhite;
}

h1,
.mat-label,
button,
p {
    color: antiquewhite;
    font-family: 'Fredoka', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

button {
    border: unset;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

#login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.login-mat-form-field {
    width: 80%
}

.matInput {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

p {
    margin-top: 50px;
    text-align: center;
}

a {
    color: antiquewhite
}

a:hover {
    zoom: 1.2;
}