<h1 mat-dialog-title>{{dialogTitleUsuario}}</h1>
  <div class="example-container">
    <form class="dialog-form" [formGroup]="addUsuarioForm">
      <div *ngIf="data.disableFormUsuario" class="dialog-form-100">
        <mat-form-field class="dialog-form-100" appearance="fill">
          <mat-label>Id</mat-label>
          <input matInput formControlName="id" [(ngModel)]="data.usuario.id">
        </mat-form-field>
      </div>
        <div class="dialog-form-100">
          <mat-form-field class="dialog-form-100" appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome" [(ngModel)]="data.usuario.nome">
          </mat-form-field>
        </div>
        <div class="dialog-form-100">
          <mat-form-field class="dialog-form-100" appearance="fill">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" [(ngModel)]="data.usuario.email">
          </mat-form-field>
        </div>
        <div class="dialog-form-100">
          <mat-form-field class="dialog-form-100" appearance="fill">
            <mat-label>Senha</mat-label>
            <input matInput type="password" formControlName="senha" [(ngModel)]="data.usuario.senha">
          </mat-form-field>
          </div>
        <div class="dialog-form-100">
        <mat-form-field class="dialog-form-100" appearance="fill">
          <mat-label>Role</mat-label>
          <select matNativeControl required>
            <option value="comprador">Comprador</option>
            <option value="vendedor">Vendedor</option>
            <option value="admin">Admin</option>
          </select>
          </mat-form-field>
      </div>
    </form>
  </div>
<div mat-dialog-actions>
  <button *ngIf="!data.disableFormUsuario" mat-stroked-button (click)="salvar()" color="primary">Salvar</button>
  <button mat-button mat-dialog-close>Close</button>
</div>
