<div class="container">
    <div class="background-color">

        <h1>{{dialogTitle}}</h1>

        <p> {{dialogSubTitle}} </p>
        <div class="example-container">
            <table *ngIf="comprasProdutosDisplay.length>0">
                <thead>
                    <th>Produtos</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                    <th>Subtotal</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let compraProdutoDisplay of comprasProdutosDisplay">
                        <td>{{compraProdutoDisplay.nome}}</td>
                        <td>{{compraProdutoDisplay.preco | currency:'BRL'}}</td>
                        <td><input [min]="1" [max]="compraProdutoDisplay.quantidade" type="number"
                                (change)="atualizarCompraProduto(compraProdutoDisplay)"
                                [(ngModel)]="compraProdutoDisplay.quantidadeSelecionada"></td>

                        <td>{{compraProdutoDisplay.preco*compraProdutoDisplay.quantidadeSelecionada | currency:'BRL'}}
                        </td>
                        <td><button (click)="deletarProdutoCompra(compraProdutoDisplay.id)" mat-button>
                                <mat-icon>
                                    cancel
                                </mat-icon>
                            </button></td>
                    </tr>
                    <tr class="linha-total">
                        <td [colSpan]="3" align="right">Total </td>
                        <td [(ngModel)]="data.compra.valorTotal">{{data.compra.valorTotal | currency:'BRL'}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-container">
                <button mat-button mat-dialog-close>{{closeButtonText}}</button>
                <button mat-button class="btn-limpar" (click)="LimparCarrinho()"
                    *ngIf="comprasProdutosDisplay.length>0">Limpar
                    Carrinho</button>
                <button class="btn-confirmar" mat-button *ngIf=" comprasProdutosDisplay.length>0"
                    (click)="confimarCompra()">Confirmar</button>
            </div>

        </div>
    </div>