<div class="container">
    <mat-toolbar>
        <div *ngIf="blocoComprador"> <!--Bloco de Menu para o comprador--->
            <a mat-button routerLink="/loja" routerLinkActive="router-link-active">Loja</a>
            <!-- <a mat-button routerLink="/minhaConta" routerLinkActive="router-link-active">Minha Conta</a> -->
        </div>
        <span class="example-spacer"></span>
        <div><!--Bloco de Menu para o vendedor--->
            <a *ngIf="blocoVendedor" mat-button routerLink="/produtos" routerLinkActive="router-link-active">Gerenciar
                Produtos</a>
            <!-- <a mat-button routerLink="/compras">Gerenciar Compras</a> -->
            <!--Bloco de Menu para o admin--->
            <a *ngIf="blocoAdmin" mat-button routerLink="/usuarios" routerLinkActive="router-link-active">Gerenciar
                Usuários</a>
        </div>
    </mat-toolbar>
</div>