mat-toolbar {
    width: 80%;
    margin: auto;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    font-family: 'Fredoka', sans-serif;
}

.example-spacer {
    flex: 1 1 auto;
}

a {
    border-radius: 20px;
    background-color: #fb4d3d;
    margin-left: 10%;
}


.mat-button {
    box-shadow: -2px -2px -5px rgba(0, 0, 0, 0.6);

}